<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @driver.user %>
</p>

<p>
  <strong>Ride:</strong>
  <%= @driver.ride %>
</p>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
